$fa-font-path:  '~font-awesome/fonts'; 

// $policeBigTitle : 'Great Vibes', cursive;
// $policeh1 : 'Raleway', sans-serif;
// $policeh2: 'Sacramento', cursive;
// $policeh3: 'Quicksand', sans-serif;
// $policeText: 'Raleway', sans-serif;

$title-font:'Raleway', sans-serif;
$body-font:'Quicksand', sans-serif;

$pink:rgb(150, 13, 105);
$grey: rgba(239, 239, 239, 1);
$grey:rgb(248, 248, 248);
$dark-grey: rgba(118, 118, 116, 1);
$dark-grey:rgb(24, 24, 24);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$button-inside: rgba(255,255,255,1);
$contact-back: lighten($pink, 60%);


$duration-medium: 0.5s;
$duration-fast: 0.4s;
$transition-slow: 0.7s;

$box-color: $black;  
$shadow-color: $white;