// adding comment

.button--pink {
    width: 200px;
    height: 45px;
    border : none;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
    color: $white;
    background: $black;
    margin: 30px auto;
    font-weight: bold;
    outline: 0 !important;
   // transition: all 1s;
   // transform: translateZ(0);
  // box-shadow: inset 0 0 0 10px ;
 
    &:hover{
        background-color: $white;
        color: $black;
        transition: all 0.7s;
        //box-shadow: inset 0 0 0 10px ;
        border: solid $black 2px;
    }
}
 