.contact-form {
    margin: 90px auto;
    @include tablets{
        width: 80%;
    }
    @include computers{
        width: 65%;
    }
    @include large-screens{
        width: 45%;
    }
    // .form-checkbox {
    //     display: inline-flex;
    //     width: auto;
    //     @include mobiles {
    //         display: flex;
    //         width: auto;
    //     }
    //     label {
    //         position: relative;
    //         top: 0px;
    //         @include mobiles {
    //             top: 11px;
    //         }
    //     }
    // }
    &-informations {
        width: 100%;
        margin: 25px auto;
    }
    input, textarea {
        width: 90%;
        height: 10px;
        padding: 20px;
        margin: 15px auto;
        border: solid $grey;
        border-width: 0 0 3px;
        border-radius: 2px;
        font-size: 14px;
        color: $black;
        outline: none ! important;
        &:focus {
            border-bottom: 3px solid black;
            transition: all 0.5s ease-in-out;
        }
    }
    textarea {
        height: 200px;
    }
}