.galery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    &__block {
        width: 100%;
        padding: 2px;
        &--img {
            width: 48%;
            padding: 5px;
            @include tablets {
                width: calc(50% - 5px);
            }
            @include computers {
                width: 32%;
            }
        }
    }
}