.photographer{
    background-color: $dark-grey;
    &__block {       
        margin: auto;
        // box-shadow: 0 0 0.8em lighten($box-color, 50%);
        @include tablets{
            margin: auto;
        }
        @include computers{
            margin: auto;
        }
        @include large-screens{
            height: 800px;
            
        }
        img{        
            width: 300px;
            margin: 10px auto;
            height: auto;
            position: relative;
            z-index: 2;
          @include mobiles{
            width: 450px;
  
        }
            @include tablets{
                width: 500px;
                margin: 150px;         
                z-index: 2;
                
            }
            @include computers{
                width: 450px;
                margin: 5px;
                right: 25%;
                top: 200px;
            }
        }
    }
    &__text {
        width: auto;
        height: auto;
        text-align: justify;    
        color: white;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        padding: 1em;
        p{
            font-size: 1.4em; 
         
        }
        @include mobiles{
            width: 85%;
            height: auto;
            padding: 3em 2em;
            margin: 0 auto;
        }
        @include tablets{
            position: relative;
            bottom: 5em;        
            padding-right: 2em;
        }
        @include computers{
            position: relative;
            width: 40%;      
           // padding-right: 20em;
           left: 20%;
            bottom: 13.5em;     
 
        }
        @include large-screens{
            position: relative; 
            height: 500px;
          //  padding: 8em 12em;
        //    padding-right: 8em;
         //   left: 10%;
            bottom: 15em;
        }
    }
 
}