.photographer{
    background-color: $dark-grey;
    &__block {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__img{
        margin: 10px auto;
        @include computers{
            width: 45%;
        }
        img{
            width: 320px;
            height: auto;
            @include computers{
                width: 450px;
            }
        }
    }
    &__text {
        margin: 10px auto;
        height: auto;   
        color: white;
        margin: 0 auto;
        text-align: center;
        @include computers{
            width: 50%;
        }
        p{
            font-size: 1.4em;
            padding: 1em;
        }
    }
 
}