.contact {
    &-title {
        margin: 100px auto;
    }
    &-subtitle {
        font-size: 1.5em;
        margin: 30px auto;
        i {
            padding-bottom: 10px;
        }
    }
    &__block {
        width: 100%;
        margin: 80px auto;
    }
    &__rows {
        width: 100%;
        @include computers {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
    }
    &__row {
        p, address {
            font-size: 1.2em;
        }
        address {
            position: relative;
            bottom: 15px;
        }
        i {
            color: $black;
            padding: 20px 0;
            margin: 0 auto;
        }
        a {
            font-weight: inherit;
        }
        i:hover, a:hover {
            color: inherit;
        }
    }
    &-maps {
        margin: 0 auto;
        width: 100%;
        height: 450px;
        overflow: hidden;
    }
}


.partners {
    padding: 20px 0 60px;
    @include flexbox;
    align-items: center;
    width: 100%;
    height: auto;
    &-logo {
        height: auto;
        margin: 80px 100px;
        @include tablets {
            margin: 40px 80px;
        }
        @include computers {
            margin: 40px 20px;
        }
    }
}