.mentions{ 
    color: $dark-grey;
    padding: 0 10px;
    &__title{
        margin: 40px;
        text-align: center;
        font-size: 1.6em;
        color: $pink;
    }
    @include computers {
        margin: 110px;
        font-size: 1.2em;
        line-height: 1.9em;
    }
    @include large-screens  {
        margin:  70px 250px;
    }
}