.portfolio-droit{
    background-color: $black;
    padding: 100px 0 ;
    p{
        font-size: 0.9em;
        color: $white;        
        @include tablets{
            font-size: 1.1em;           
        }
        @include computers{
            font-size: 1.4em;
        }
    }
}

.portfolio-images{
    display: flex;
    justify-content: center;
    background-color: $black;
    .row{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .blockphoto {
        overflow: hidden;
        height: auto;
        width: 100%;
        @include tablets{
            width: calc(100%/2);
        }
        @include computers{
            width: calc(100%/3);
        }
        &:hover .photo {
            transform: scale(1.2);
        }    
    }
    .photo{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: transform .5s ease;
        &:hover .block {
            opacity: 1;
            transform: scale(1.1);
        }
        &:hover .text {
            border-top-right-radius:0px;
            border-bottom-left-radius:0px;
            &:before,&:after{
                width:100%;
                height:100%;
            }
        }
    }
    .block {
        opacity: 0;
        background: rgba(0, 0, 0, 0.6);
        color: $white;
        transition: all 0.4s ease-in-out 0s;
    }
    .text {
        margin: 180px 0;
        font-size: 1em;
        color: $white;
        display: inline-block;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        transition:all 1s;
        padding:10px 18px;
        position: relative;
        &:after,&:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid $white;
            transition:all 1s;
        }
        &:after{
            top:2px;
            left:2px;
            border-top:1px solid $white;
            border-left:1px solid $white;
        }
        &:before{
            bottom:2px;
            right:2px;
            border-bottom:1px solid $white;
            border-right:1px solid $white;
        }
    }
}

//===============Category page portfolio=================

.portfolio-category{
    background-color: $black;
    &__row{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    &__photo{
        background-size: cover;
        background-position:  center;
        width: calc(100%);
        cursor: pointer;
        height: 600px;
        @include tablets{
            width: calc(100%/2 );
        }
        @include computers{
          // width: calc(100%/3 );
          /*
            width: 40%;
            &:nth-child(4n-2),
            &:nth-child(4n-1) {
                width: 60%;
            }
            */

      
            &:nth-child(4n-3){
                width: 25%;

            }
            &:nth-child(4n-2){
                width: 25%;
            }
            &:nth-child(4n-1) {
                width: 50%;
            }
        }
 
        &:hover{
            background-color: $black;
            opacity: 0.6;
            transition: opacity $duration-fast;
        }
    }
}