.header-background{    
        width: 100%;
        height:80vh;
        background-size:cover;
        background-position: 10%;
        @include computers {
            height: 90vh;
        }
        @include large-screens {
            height: 100vh;
             
        }
        
}
.prices-preview {
    //background-color: $dark-grey;  
    @include flexbox;
    margin: 0px 0 25px;
   
    @include large-screens {
        width: 95%;
        margin: auto;        
    }
    &__block {
        width: auto;
        // height: auto;
        height: 765px;
        padding: 10px 0px;
        margin: 0 2px;
        @include mobiles {
            margin: 0 5px;
        }
        @include tablets {
            margin: 0 25px;
        }
        @include computers {
            margin: 0 80px;
        }
        @include large-screens {
            margin: 0;
            
        }
    }
    &__title {
        position: relative;
        z-index: 10;
        width: 200px;
        margin: 0 auto;
        font-size: 1.7em;
        padding: 10px 0;
        color: $white;
        background: $black;
        text-transform: uppercase;
    }
    &__img {
        width: 315px;
        height: auto;
        position: relative;
        top: 20px;
    }
    strong {
        color: $pink;
    }
}


.packages__information {
    padding: 20px 0 60px;
    color: $black;
    &--text {
        padding-top: 45px;
        font-size: 1.2em;
    }
    ul {
        width: 100%;
        // @include flexbox;
    }
    li {
        margin: 10px;
        display: flex;
        justify-content: center;
        width: auto;
        @include tablets {
            width: 40%;
            margin: auto;
        }
        p {
            padding: 10px;
            font-size: 1.2em;
            font-weight: bold;
            text-transform: initial;
        }
        i, p {
            color: $black;
            margin: 10px;
            &:hover {
                color: $pink;
            }
        }
        i {
            width: auto;
        }
    }   
}



.flip-card {
    margin: 50px auto;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    &:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    &-front, .flip-card-back {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    &-front {
        background-color: $black;
        color: $white;
    }
    &-back {
        background-color: $pink;
        color: $white;
        transform: rotateY(180deg);
    }
    .fa-5x {
        color: $white;
        font-size: 10em;
    }
    p {
        font-size: 2em;
        padding: 1em;
    }
}