.header-background{    
        width: 100%;
        height:80vh;
        background-size:cover;
        background-position: 10%;
        @include computers {
            height: 90vh;
        }
        @include large-screens {
            height: 100vh; 
        }
}

.prices-preview {
    //background-color: $dark-grey;  
    @include flexbox;
    margin: 0px 0 25px;
    @include large-screens {
        width: 95%;
        margin: auto;        
    }
    &__block {
        width: auto;
        // height: auto;
        height: 765px;
        padding: 10px 0px;
        margin: 0 2px;
        @include mobiles {
            margin: 0 5px;
        }
        @include tablets {
            margin: 0 25px;
        }
        @include computers {
            margin: 0 80px;
        }
        @include large-screens {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        z-index: 10;
        width: 200px;
        margin: 0 auto;
        font-size: 1.7em;
        padding: 10px 0;
        color: $white;
        background: $black;
        text-transform: uppercase;
    }
    &__img {
        width: 315px;
        height: auto;
        position: relative;
        top: 20px;
    }
    strong {
        color: $pink;
    }
}

.packages__information {
    padding: 20px 0 60px;
    color: $black;
    &--text {
        padding-top: 45px;
        font-size: 1.2em;
    }
}

.card-infos {
    margin: 50px auto;
    width: 300px;
    height: auto;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    &-block {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
    &-icon {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $black;
        border-radius: 50%;
        border: 10px solid $pink;
    }
    &-text {
        width: 300px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        padding: 1em;
    }
}