@import
    'abstracts/mixin',
    'abstracts/variables';

@import
    '~aos/dist/aos.css',
    '~font-awesome/scss/font-awesome',
    '~reset-css/sass/reset',
    '~owl.carousel/dist/assets/owl.carousel.css',
    '~bootstrap/scss/bootstrap';

@import
    'base/animations',
    'base/base';

@import
    'components/accordion',
    'components/button-scroll',
    'components/buttons',
    'components/carousel',
    'components/contact-form',
    'components/dots',
    'components/feedbacks',
    // 'components/galery',
    'components/mobile-nav',
    'components/modal',
    'components/photographer';

@import
     'layout/header',
     'layout/footer';

@import
    'pages/contact',
    'pages/droit-image',
    'pages/faq',
    'pages/mentions-legales',
    'pages/portfolio',
    'pages/prices';

@import
    'shame';